.container {
 
  /* padding: 0 1rem;
  margin: 3rem auto 6rem; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
}

.headerImage {
  width: 2rem;
  height: 2rem;
}

.headerHomeImage {
  width: 20rem;
  height: 6rem;
}

.backToHome {
  margin: 3rem 0 0;
}
